---

const {icon, name, count, url} = Astro.props;
---

<li class="bg-white/80 border border-zinc-300 rounded-xl p-6 shadow-md hover:shadow-lg transition">
    <a href={`${url}`} class="block text-center">
        <div class="text-5xl mb-2">{icon}</div>
        <h2 class="font-title text-xl font-semibold capitalize">{name}</h2>
        <p class="text-sm text-zinc-600">{count} recipe{count > 1 ? 's' : ''}</p>
    </a>
</li>